@import "node_modules/bootstrap/scss/bootstrap";
.bg-cover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c460.573C91.747%2c457.759%2c187.818%2c462.018%2c265.623%2c413.318C343.814%2c364.376%2c398.559%2c282.531%2c425.427%2c194.286C450.563%2c111.729%2c432.732%2c24.221%2c409.387%2c-58.861C388.364%2c-133.68%2c349.465%2c-199.982%2c298.226%2c-258.414C247.233%2c-316.565%2c190.53%2c-374.512%2c115.642%2c-393.841C41.738%2c-412.916%2c-31.043%2c-374.017%2c-106.554%2c-362.891C-196.837%2c-349.588%2c-312.815%2c-391.797%2c-371.655%2c-322.041C-430.697%2c-252.045%2c-351.952%2c-143.064%2c-368.021%2c-52.913C-384.979%2c42.228%2c-485.111%2c118.364%2c-467.077%2c213.307C-448.751%2c309.791%2c-363.104%2c383.993%2c-276.307%2c429.942C-192.716%2c474.194%2c-94.538%2c463.473%2c0%2c460.573' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 964.27C1532.622 973.771 1639.608 1042.066 1712.907 984.652 1788.124 925.735 1747.5720000000001 802.638 1766.03 708.893 1779.5529999999999 640.212 1802.4560000000001 577.106 1806.904 507.247 1812.422 420.591 1837.3690000000001 328.152 1795.103 252.30200000000002 1750.463 172.192 1667.562 107.10399999999998 1576.761 94.23599999999999 1488.123 81.67500000000001 1407.559 141.188 1330.311 186.435 1268.121 222.86200000000002 1222.602 276.272 1174.441 329.89099999999996 1125.338 384.55899999999997 1057.8029999999999 430.829 1045.694 503.307 1033.527 576.133 1085.766 640.871 1110.887 710.3009999999999 1138.596 786.8820000000001 1136.375 882.371 1200.85 932.125 1265.844 982.28 1358.333 955.893 1440 964.27' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.borderLine {
  border: 1px black solid;
}
.avatar {
  object-fit: cover;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}
.profilePicture {
  object-fit: cover;
  width: 10em;
  height: 10em;
  border-radius: 50%;
}
ul{
  list-style-type: none;
}
